.navbar {
    padding: 20px;
    border-radius: 10px;
    background-color: #ff751f;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1)
    
    }
    
    .title {
        color: var(--textSoft);
        font-weight: bold;
        text-transform: capitalize;
        font-size: 24px;
        letter-spacing: 0.5px;
        transition: color 0.3s ease;
    }