:root {
  --bg: #fefefe;
  --text: #333;
  --primary-color: #f0ad4e;
  --primary-hover: #ec971f;
  --shadow-color: rgba(0, 0, 0, 0.1);
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: var(--bg);
  color: var(--text);
}

a {
  color: var(--text);
  text-decoration: none;
}